# Dependencies
node_modules/
yarn.lock
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc
*.py[cod]
venv/
.venv/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build and dist
dist/
build/
*.log

# Testing
coverage/
.coverage
db.sqlite3
FLAN-T5_model/model.safetensors
Archive.zip
